* {
  text-decoration: none;
}

.category-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f67c6;
  font-family: Arial, sans-serif;
}

.container {
  margin: 100px 0 0 30px;
  text-align: left;
}

.mb-4 {
  margin-bottom: 20px;
}

.btn-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #3f67c6;
  margin-right: 10px;
  background-color: transparent;
  color: #3f67c6;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-circle:hover {
  background-color: #e0efff;
  transition: background-color 0.3s ease;
}

.ms-4 {
  border-left: 1px solid #3f67c6;
  padding-left: 20px;
}

app-category-item {
  margin-bottom: 10px;
}

app-category-item:hover {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}
