<header>
  <nav class="">
    <div class="container">
      <a class="navbar-brand" href="">
        ЕССО
      </a>
      <div class="dropdown">
        <a class="navbar-brand dropdown-toggle" id="accountDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Аккаунт
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
          <li><a class="dropdown-item" href="/login">Войти</a></li>
          <li><a class="dropdown-item" href="/register">Регистрация</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>